body {
    --font-text-size: 14px !important;
    --color-accent: rgb(71, 0, 171) !important;
    --h1-color: var(--color-accent) !important;
    --h2-color: var(--color-accent) !important;
    --h3-color: var(--color-accent) !important;
    --h4-color: var(--color-accent) !important;
    --h5-color: var(--color-accent) !important;
    --h6-color: var(--color-accent) !important;
    --p-spacing: 0.15rem !important;
    --p-parskip: 0.15rem !important;
}

div.markdown-preview-view.markdown-rendered {
    /* columns: 2;
    column-gap: 8mm; */
    padding-right: 25%;
}

h1 {
    color: black !important;
    margin: 3mm -3mm !important;
    padding: 3mm !important;
    background-color: rgb(228, 209, 255) !important;
}

h2::before {
    content: "◤";
    margin: 0 0.2em 0 0;
    font-size: 1.6*var(--font-text-size);
    font-weight: var(--h2-weight);
    color: var(--h2-color);
}
h2 {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    margin-top: 5mm !important;
    margin-bottom: 2mm !important;
}

h3::before {
    content: "■ ";
    margin: 0 0.5em 0 0;
    font-size: 1.25*var(--font-text-size);
    font-weight: var(--h3-weight);
    color: var(--h3-color);
}
h3 {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    margin-top: 3mm !important;
    margin-bottom: 1mm !important;
}

h4::before {
    content: "▶ ";
    margin: 0 0.5em 0 0;
    font-size: 1.15*var(--font-text-size);
    font-weight: var(--h4-weight);
    color: var(--h4-color);
}
h4 {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    margin-top: 2mm !important;
}

div:has(> h1) + div {
    break-inside: avoid;
}
div:has(> h2) + div {
    break-inside: avoid;
}
div:has(> h3) + div {
    break-inside: avoid;
}
div:has(> h4) + div {
    break-inside: avoid;
}

/* div::before {
    content: "div class=" attr(class) " id=" attr(id) " style=" attr(style) " data=" attr(data) "";
    font-size: 0.4em !important;
    font-weight: bold !important;
    color: red !important;
}
p::before {
    content: "p class=" attr(class) " ";
    font-size: 0.4em !important;
    font-weight: bold !important;
    color: red !important;
}
h2::before {
    content: "h2 class=" attr(class) " ";
    font-size: 0.4em !important;
    font-weight: bold !important;
    color: red !important;
} */

.markdown-preview-view.markdown-rendered .callout {
    --callout-color: 128, 128, 128;
    --icon-size: 10px;
    break-inside: avoid;
}

.markdown-preview-view.markdown-rendered .callout[data-callout="definition"] {
    --callout-color: 76, 132, 211;
}
.markdown-preview-view.markdown-rendered .callout[data-callout="theorem"] {
    --callout-color: 71, 0, 171;
}
.markdown-preview-view.markdown-rendered .callout[data-callout="remark"] {
    --callout-color: 207, 86, 79;
}

cm-content::after {
    break-after: always;
}

.block-language-tikz {
    zoom: 0.6;
}

mjx-mstyle[style*="color: violet"] {
    color: rgb(176, 0, 100) !important;
}
mjx-mstyle[style*="color: orange"] {
    color: rgb(181, 118, 0) !important;
}

.markdown-rendered td, .markdown-rendered th {
    padding: var(--size-2-1) var(--size-4-1) !important;
}